<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О сайте</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style_about.css">
</head>
<body>
<div class="header_line"></div>
<div class="padding">
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Главная</button>
  <button type="button" class="btn btn-secondary">О жанре</button>
  <button type="button" class="btn btn-secondary">О книгах</button>
  <button type="button" class="btn btn-secondary">Прочее</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 0px 10px 10px 0px;">О сайте</button>
    <div style="padding: 0px 0px 0px 500px;">
        <button type="button" class="btn btn-success btn-lg">Войти</button>
        <button type="button" class="btn btn-info btn-lg">Регистрация</button>
    </div>
</div>
</div>
<div class="main_body">
    <div class="blok-s-st">
        <h1 style="padding: 20px; text-align: center; color: #222222; font-size: 54px;">Где наше место под солнцем?</h1>
        <img src="img2.jpg" style="width: 100%; height: 100%; padding: 0px 40px 40px 40px;">
            <p class="st_txt">Люди живут сегодня. Часть из них думает о будущем. Ещё меньшая их часть стремится мыслями в прошлое. Кем-то из этой части движет научный интерес, кем-то желание постичь настоящее, предсказать завтрашний день, проследить нить событий от некого начала и понять причины того, что окружает их ныне.</p>
            <p class="st_txt">Однако, исследуя прошлое, мало кто выбирает объектом изучения день вчерашний. Для первой названной мной категории он не интересен – что-то помнят и сами исследователи, что-то остаётся запечатленным в памяти их окружения. Конечно эти воспоминания уже не кристально чисты, но в общих чертах застывают в памяти, тогда как знаний о том, что было задолго до этого, просто нет. Непознанное волнует сильнее, чем знакомое хотя бы частично и ученые вгрызаются в гранит веков вместо того чтобы оглянуться вокруг и подумать о том, что же <em>действительно</em> произошло вчера.</p>
            <p class="st_txt">Людям же из второй категории ближайшее прошлое, конечно, интересно, вот только пока они пройдут весь причинно-следственный путь до него… Как знать, сколько пройдёт времени. Не померкнет ли этот вчерашний день, будут ли все его события вспомнены, или что-то уйдёт навсегда?</p>
            <p class="st_txt">Вещи, окружающие людей каждый день, не кажутся им чем-то представляющим интерес. Нас волнуют тайны прошедших веков. О том, что и у нашего века тоже появятся тайны мы не беспокоимся. Ведь есть наша память, ведь я помню, что было вчера! Да, уже не слишком чётко, но ведь помню!..</p>
            <p class="st_txt">Быть может кто-то в старости и садится за мемуары, но к тому времени воспоминания меркнут, мелочи стираются из памяти. И в итоге знания до потомков доходят урезанными, создавая лишнюю работу для историков и прочих мыслителей.</p>
            <p class="st_txt">Всё это довольно грустно, скажете вы, но причём тут этот сайт?</p>
            <p class="st_txt">Лирическое отступление выше есть ничто иное, как увертюра к словам о цели его создания.</p>
            <p class="st_txt">Цель данного сайта, или авторского блога, если угодно, в изучении сравнительно недавно появившегося явления, сборе информации о русском сегменте одного из сравнительно недавно появившихся литературных жанров - ЛитРПГ: основоположники, лучшие представители, развитие, изменения.</p>
            <p class="st_txt">О боже, воскликнете вы, из всех знаний ты хочешь донести до потомков подобную ерунду?</p>
            <p class="st_txt">Что же, отвечу я, не всё так примитивно. Во-первых я уже довольно давно вожу знакомство с этим жанром и могу сделать не только немало наблюдений о нём, но и определенные выводы из этих наблюдений. Литература, как и искусство в целом, не развивается вне общества. Социальные проблемы находят в ней отражение. И найти, показать эти проблемы - задача не хуже многих. Во-вторых, подчас знаний об этих проблемах не хватает не только людям в исторической перспективе, но и нашим современникам.</p>
            <p class="st_txt">В общем, помимо статей о непосредственно истории жанра здесь будут и статьи, перекликающиеся с миром вне пределов миров художественных. Но не менее важно для задумки сайта и сохранение, структуризация той информации о жанре, которая уже начала понемногу теряться за давностью лет. Интернет ныне хранит многое, но подчас для будущих исследователей лучше уже сейчас попытаться хоть частично отделить зерна от плевел и сохранить самое интересное в одном месте.</p>
            <p class="st_txt">Если же я ещё не рассеял ваши сомнения в целесообразности подобного увлечения, признаюсь честно: я не мифический герой, который способен выполнять подвиги десятками, и достойная реализация такой задачи для меня - цель, которая соответствует имеющимся средствам не только по верхней, но и по нижней планке.</p>
            <p class="st_txt">Надеюсь этого текста хватит для ответа на вопрос из заголовка, по крайней мере в отношении данного блога. Надеюсь и на то, что каждый читатель сможет найти для себя хоть каплю чего-то нового. Если же нет, моим утешением станет тот факт, что я приложил все усилия для того, чтобы вина в отсутствии новых знаний осталась на недостаточно вдумчивом читателе.</p>
            <p class="st_txt">Слова для завершения этой статьи, первой статьи, основополагающей статьи, родились на удивление легко. Из глубин памяти её автора, глубин, где хранятся старые добрые сказки, всплыл лозунг, который идеально подходит для сути сайта: дальше вверх, дальше вглубь!</p>
</div>
    </div>
</div>
    <div class="footer_line">
        <p style="color: #DDDDDD; padding: 20px 0px 0px 20px;">Ничего не защищено - всё вложил в ловкость и уворот. По вопросам пишите на zzzzzz13-169@mail.ru или в ВК <a href="https://vk.com/glorious_crusader">vk.com/glorious_crusader</a></p>
    </div>
</div>
</div>
</body>
</html>