<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заголовок статьи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style_article.css">
</head>
<body>
<div class="header_line"></div>
<div class="padding">
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Главная</button>
  <button type="button" class="btn btn-secondary">О жанре</button>
  <button type="button" class="btn btn-secondary">О книгах</button>
  <button type="button" class="btn btn-secondary">Прочее</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 0px 10px 10px 0px;">О сайте</button>
    <div style="padding: 0px 0px 0px 500px;">
        <button type="button" class="btn btn-success btn-lg">Войти</button>
        <button type="button" class="btn btn-info btn-lg">Регистрация</button>
    </div>
</div>
</div>
<div class="main_body">
    <div style="overflow: hidden;">
        <div style="width: 1000%;">
            <div style="float: left; width: 330px; height: 300px;"><div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
            <div class="blok-s-rec-st">
                <h4>Заголовок статьи</h4>
                <p>Описание статьи не забыть сделать картинку на развороте ссылкой</p>
            </div>
            </div>
            <div class="back">
            <div class="blok-s-rec-st" style="padding: 0px;">
            <img src="img3.jpg" style="width: 292px; height: 192px;">
            </div>
            </div>
        </div>
    </div></div>
            <div style="float: left; width: 330px; height: 300px;"><div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
            <div class="blok-s-rec-st">
                <h4>Заголовок статьи</h4>
                <p>Описание статьи не забыть сделать картинку на развороте ссылкой</p>
            </div>
            </div>
            <div class="back">
            <div class="blok-s-rec-st" style="padding: 0px;">
            <img src="img3.jpg" style="width: 292px; height: 192px;">
            </div>
            </div>
        </div>
    </div></div>
            <div style="float: left; width: 330px; height: 300px;"><div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
            <div class="blok-s-rec-st">
                <h4>Заголовок статьи</h4>
                <p>Описание статьи не забыть сделать картинку на развороте ссылкой</p>
            </div>
            </div>
            <div class="back">
            <div class="blok-s-rec-st" style="padding: 0px;">
            <img src="img3.jpg" style="width: 292px; height: 192px;">
            </div>
            </div>
        </div>
    </div></div>
            <div style="float: left; width: 330px; height: 300px;"><div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
            <div class="blok-s-rec-st">
                <h4>Заголовок статьи</h4>
                <p>Описание статьи не забыть сделать картинку на развороте ссылкой</p>
            </div>
            </div>
            <div class="back">
            <div class="blok-s-rec-st" style="padding: 0px;">
            <img src="img3.jpg" style="width: 292px; height: 192px;">
            </div>
            </div>
        </div>
    </div></div>
        </div>
    </div>
    <div class="blok-s-st">
        <h1 style="padding: 20px; text-align: center; color: #222222; font-size: 54px;">Заголовок статьи</h1>
        <img src="img2.jpg" style="width: 100%; height: 100%; padding: 0px 40px 0px 40px;">
        <p style="padding: 20px; color: #222222; text-align: justify; font-size: 18px;">Текст статьи \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\. KTGNAEUNukafvyowemfoa qieofahowifwhu ifhcpn;qoe hqo;fhqi3u hfiaerhcmwei fq;ohfiq luwe vnjlk hwk gfjcniwhf uajfwcuelia wuegfkajsencaw rhiawurjw herliaueh igi ewgyfiaywegoiwayg oaiwhfkj aferfjawgeifgai lfiaf gwliuwaf ajhfgawegfkyawgebe eauyaguy  yega yf  eauwgweyg fywg fwyf gwy fwg iawf isfuh uli wuiw wak fildnikuu.</p>
    </div>
    <div class="blok-s-st1">
        <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
    </div>
    <div class="blok-s-st1">
        <style>
  h6 {
    position: relative;
    overflow: hidden;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
  }
  h6 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h6 > span:before,
  h6 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #4e4e4e;
    margin-top: .6em;
  }
  h6 > span:before {
    margin-left: -102%;
  }
  h6 > span:after {
    margin-left: 2%;
  }
</style>
        <h6><span>См. также</span></h6>
        <div class="row row-cols-1 row-cols-md-3" >
          <div class="col mb-4">
            <div class="card" style="width: 15rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
              <div class="zakr_content_meta1">
                            <time datetime="2020-05-03">03.05.2020</time>
                            <span class="author1">Павел Михайлов</span>
                            <span class="category">Прочее</span>
                        </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 15rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
              <div class="zakr_content_meta1">
                            <time datetime="2020-05-03">03.05.2020</time>
                            <span class="author1">Павел Михайлов</span>
                            <span class="category">Прочее</span>
                        </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 15rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
              <div class="zakr_content_meta1">
                            <time datetime="2020-05-03">03.05.2020</time>
                            <span class="author1">Павел Михайлов</span>
                            <span class="category">Прочее</span>
                        </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
          </div>
        </div>
    </div>
    <div style="width: 60%; height: 80px;
    margin: 0px 200px 0px 270px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    background: #FFFFFF; /* Цвет фона */
    border-top: 4px solid #F2F2F2; border-bottom: 20px solid #F2F2F2;">
        <p style="font-size: 20px;">Комментарии отключены.</p>
    </div>
</div>
    <div class="footer_line">
        <p style="color: #DDDDDD; padding: 20px 0px 0px 20px;">Ничего не защищено - всё вложил в ловкость и уворот. По вопросам пишите на zzzzzz13-169@mail.ru или в ВК <a href="https://vk.com/glorious_crusader">vk.com/glorious_crusader</a></p>
    </div>
</div>
</div>
</body>
</html>