<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style_main.css">
</head>
<body>
<div class="header_line"></div>
<div class="padding">
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Главная</button>
  <button type="button" class="btn btn-secondary">О жанре</button>
  <button type="button" class="btn btn-secondary">О книгах</button>
  <button type="button" class="btn btn-secondary">Прочее</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 0px 10px 10px 0px;">О сайте</button>
    <div style="padding: 0px 0px 0px 500px;">
        <button type="button" class="btn btn-success btn-lg">Войти</button>
        <button type="button" class="btn btn-info btn-lg">Регистрация</button>
    </div>
</div>
</div>
<div class="main_body">
<div class="zakr">
    <div>
        <div class="zakr_content">
            <div class="zakr_content_img">
                <img src="img1.jpg" width=10% height=10%>
            </div>
            <div class="zakr_content_ost">
                <h1>Заголовок статьи</h1>
                <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
            <p>Описание статьи yjhvfkmyjt gjlhj,yjt\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
                \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
                \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
                Не забыть сделать картинку и заголовок ссылками \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
                \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
                \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
                \\\\\\\\\\\\\\\\\\\\\\
            </p>
            </div>
        </div>
    </div>
</div>
<style>
  h1 {
    position: relative;
    overflow: hidden;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
  }
  h1 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h1 > span:before,
  h1 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #4e4e4e;
    margin-top: .6em;
  }
  h1 > span:before {
    margin-left: -102%;
  }
  h1 > span:after {
    margin-left: 2%;
  }
</style>
<h1><span>Новые публикации</span></h1>
<div class="row row-cols-1 row-cols-md-4" style="margin-right: 0; border-left: 30px solid #EEEEEE; padding: 20px 0px 20px 0px;">
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
      <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
  </div>
</div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
      <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
  </div>
</div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
      <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
  </div>
</div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
      <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
  </div>
</div>
  </div>
  <div class="col mb-4">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
      <div class="zakr_content_meta">
                    <time datetime="2020-05-03">03.05.2020</time>
                    <span class="author">Павел Михайлов</span>
                    <span class="category">Прочее</span>
                </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
  </div>
</div>
  </div>
</div>
</div>
<div class="footer_line">
    <p style="color: #DDDDDD; padding: 20px 0px 0px 20px;">Ничего не защищено - всё вложил в ловкость и уворот. По вопросам пишите на zzzzzz13-169@mail.ru или в ВК <a href="https://vk.com/glorious_crusader">vk.com/glorious_crusader</a></p>
</div>
</div>
</div>
</body>
</html>